[submodule "benchmark/mt_bench/FastChat"]
	path = benchmark/mt_bench/FastChat
	url = git@github.com:jxiw/FastChat.git
[submodule "benchmark/alpaca_eval/alpaca_eval"]
	path = benchmark/alpaca_eval/alpaca_eval
	url = git@github.com:jxiw/alpaca_eval.git
[submodule "benchmark/zero_eval"]
	path = benchmark/zero_eval
	url = git@github.com:jxiw/ZeroEval.git
